.container {
  margin: 20px auto;
  width: 85%;
  height: 50em;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  text-align: center;
  background: url(http://www.tabletwallpapers.org/inc/wallpapers/infinity-wallpaper-p107_1024x768.jpg)
}

#response {
	color: yellow;
	size: 2em;
}
