.container {
  margin: 20px auto;
  width: 85%;
  height: 50em;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  text-align: center;
  background: url(http://www.tabletwallpapers.org/inc/wallpapers/infinity-wallpaper-p107_1024x768.jpg)
}

#response {
	color: yellow;
	size: 2em;
}
body {
	background-color: blue;
}
nav{
	text-align: center;
	background-color: yellow;
	height:6em;
}
nav li{
	background-color: red;
	display:inline-block;
	height:1.4em;
	width:5em;
	text-align: center;
}

#red {
	color: red;
	font-weight: bold;
}