<div class="container">
	<% if current_user %>
		<h1>Current User:</h1>
		<ul>
			<% @users.each do |user| %>
				<li><%= user.user_name %></li>
			<% end %>
		</ul>
	<% else %>
		<h1>Welcome! <% @user %></h1>
	<% end %>
</div> 

<!-- <div class="container">
	<p id="response">YouTube Lookup</p>
	<p></p>
	<form action='/' method='post' class='search-video-form'>
		<input type='text' placeholder='Title of Video'>
		<button type='submit' class='search-video-button'>Search Youtube</button>
	</form>
</div> -->